# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Lukas-BAG
	email = lukas.gruender@brockhaus-ag.de

[credential]
	helper = cache --timeout 21600
	helper = oauth
	# helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
	# timeout = 10
[init]
	defaultBranch = main
[rerere]
	enabled = true
[commit]
	verbose = true
[alias]
	mylog = log --oneline -n 5
[credential "https://github.com"]
	username = Beinmann
[include]
	path = ~/.config/dotfiles/system_local/gitconfig
